{% extends 'AcmeSearchBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

    {% block content %}
        <h3>Create Clip</h3>
        <form class='cForm' action="" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <div style="overflow: hidden; clear: both">
                <div style="float: left">

                    {{ form_errors(form.url) }}
                    {{ form_label(form.url) }}
                    {{ form_widget(form.url) }}
                </div>
                <div id="loadYouTubeVideo" style="float: left; margin-left: 10px" class="btn btn-green">Load</div>
                <div style="float: right; margin-right: 40px">

                </div>
            </div>
            <div style="overflow: hidden; clear: both">
                <div class="video-block hide">
                    <div id="youTubeIframe" style="text-align: center">

                    </div>
                    <div id="slider-range"></div>
                </div>
                <div style="float: left;">

                    {{ form_errors(form.time_start) }}
                    {{ form_label(form.time_start) }}
                    {{ form_widget(form.time_start) }}
                </div>
                <div style="float: right; margin-right: 40px">

                    {{ form_errors(form.time_end) }}
                    {{ form_label(form.time_end) }}
                    {{ form_widget(form.time_end) }}
                </div>
            </div>
            <div>

                {{ form_errors(form.description) }}
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div>
                <h3>Tags</h3>
                <div><a href="javascript:void(0)" class="add_tag_link">Add a tag</a></div>
                <ul  class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% if clip_tags | length %}
                        {% for tag in form.tags %}
                            <li class="tags">{{ form_row(tag.name) }}</li>

                        {% endfor %}
                    {% endif %}
                </ul>

            </div>

                {{ form_widget(form._token) }}


                <input type="submit" class="btn btn-green"/>

        </form>
<script>
    // Get the ul that holds the collection of tags
    var collectionHolder = $('ul.tags');

    // setup an "add a tag" link
    var $newLinkLi = $('<li></li>').append( $('.add_tag_link'));

    jQuery(document).ready(function() {
        // add the "add a tag" anchor and li to the tags ul
        collectionHolder.append($newLinkLi);
        collectionHolder.find('li.tags').each(function() {
            addTagFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $('.add_tag_link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder, $newLinkLi);
        });
    });

    function addTagForm(collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = collectionHolder.data('prototype');

        // get the new index
        var index = collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
        addTagFormDeleteLink($newFormLi);
    }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<button class="btn">delete</button>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }




</script>
    {% endblock %}
